body {
    background-color: rgb(71, 14, 109);

}
form {
   background-color: rgb(148, 98, 194);
    margin-top: 10%;
     width: 480px;
    height: auto; 
}

image {
margin-top: 50%;
height: 2px;
width: 20px;
}

.form-label
{
color: aliceblue;
}

.form-text
{
color: rgb(255, 255, 255);
}


.btn{
 color:rgb(245, 245, 245);
 width: 30%;
}

a {
margin-top: auto;
}

.navbar {
    background-color: rgb(4, 112, 184);
}
.navbar ul li a{
    color: rgb(122, 11, 133);
}
.body2{
background-color: rgb(122, 11, 133);
}
.fa-solid{
color: aliceblue;
font-size: 30px;
}

.icon{
    color: aquamarine;
}
.icon2{
    color: brown;
}

.table{
    width: 180px;
    height: 180px;
}