body {
    background-color: rgb(71, 14, 109);

}
form {
   background-color: rgb(148, 98, 194);
    margin-top: 10%;
     width: 600px;
    height: 590px; 
}

.form-label
{
color: aliceblue;
}

.form-text
{
color: rgb(165, 15, 235);
}


.btn{
 color:rgb(155, 22, 22);
 width: 30%;
}

a {
margin-top: auto;
}
.nav{
    background-color: aqua;
}

.body2{
background-color: rgb(122, 11, 133,);
}
.fa-solid{
    color: rgb(35, 16, 206);
    font-size: 30px;
    }

    .icon{
        color: aquamarine;
    }
    .icon2{
        color: brown;
    }

    .table{
        width: 90px;
        height: 90px;
    }