body {
    background-color: rgb(71, 14, 109);

}
form {
   background-color: rgb(148, 98, 194);
    margin-top: 10%;
     width: 480px;
    height: auto; 
}

image {
margin-top: 50%;
height: 2px;
width: 20px;
}

.form-label
{
color: aliceblue;
}

.form-text
{
color: rgb(254, 255, 246);
}


.btn{
 color:rgb(245, 245, 245);
 width: 30%;
}

a {
margin-top: auto;
}

.navbar {
    background-color: aqua;
}
.navbar ul li a{
    color: rgb(161, 161, 15);
}
.body2{
background-color: aqua;
}
.fa-solid{
color: aliceblue;
font-size: 30px;
}